/*this stylesheet is only used in the contact page*/
input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
    float: right;
    margin-top: 5px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    }

form button{
    margin: 0;
}

input[type=submit]:hover {
    background-color: #f5f5f5;
    color: #2699fb;
    transition: 0.4s;
}

.contactContainer {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

fieldset label{
    float: left;
    margin-top: 6px;
}

fieldset input {
    float: left;
    width: 75%;
    margin-top: 6px;
}
textarea{
    height: 200px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
.row article:nth-child(1), .row article:nth-child(2), input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}