/*this stylesheet is only used in the haarlem page*/
.haarlemHeader{
    background-image: url("../img/haarlem.jpg");
}
header h2{
    margin: 115px 0 0 5%;
}
header p{
    margin-left: 5%;
}
.info{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    background-color: #f5f5f5;
}
.info article{
    height: 400px;
}
.jopenkerk article:nth-child(1){
    background-color: black;
}
.teylersmuseum article:nth-child(1){
    background-color: black;
}
.sintBavoKerk article:nth-child(1){
    background-color: black;
}
.responsiveImg{
    max-width: 100%;
}
.info h2, .info p{
    margin: 20px 0 0 5%;
}
.info p{
    color: #444444;
}
@media only screen and (max-width: 1480px) {
        .info{
        grid-template-columns: 100%;
        }
        .responsiveImg{
            height: 400px;
        }
    }
@media only screen and (max-width: 850px) {
header .right h1{
    font-size: 20pt;
}
.info article h2{
    font-size: 30pt;
}
.info article p{
    font-size: 15pt;
    line-height: 22pt;
    }
}
@media only screen and (max-width: 850px) {
    .haarlemHeader{
        grid-template-columns: 100%;
    }
}