/*this stylesheet is only used in the index page*/
p{
  font-size: 15pt;
}
body{
  position: relative;
}
.mainHeader .left{
  background-image: url("../img/boxer.png");
}
.overviewArticle{
  display: grid;
  grid-template-columns: 50% 50%;
}
.overviewArticle h2{
  font-size: 80pt;
  margin: 90px 5% 0 0;
  float: right;
  color: #ffffff;
}
.overviewArticle p{
  margin: 50px 5% 0 5%;
}
.overviewArticle section:nth-child(1){
  background-color: black;
}
.overviewArticle section:nth-child(2){
  background-color: #ffffff;
}
.overviewArticle p{
  color: #aaaaaa;
}
.infoContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.overview{
  width: 100%;
  background-color: #000000;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.overview article{
  height: 400px;;
  color: #ffffff;
  position: relative;
  display: block;
}
.overview article h2{
  margin: 10px 0 0 4%;
  font-size: 40pt;
}
.overview article p{
  margin: 25px 0 0 5%;
  color:#ffffff;
}
.overview article section.background-image{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#sportsection article:nth-child(1) section.background-image{
  background-image: url("../img/boxer.png");
}
#sportsection article:nth-child(2) section.background-image{
  background-image: url("../img/wholesomeFighters.png");
}
#sportsection article:nth-child(3) section.background-image{
  background-image: url("../img/football.png");
}
#sportsection article:nth-child(4) section.background-image{
  background-image: url("../img/tennis.png");
}
#sportsection article:nth-child(5) section.background-image{
  background-image: url("../img/wingchun.png");
}
#sportsection article:nth-child(6) section.background-image{
  background-image: url("../img/volleybal.png");
}
#sportsection article:nth-child(7) section.background-image{
  background-image: url("../img/badminton.png");
}
#sportsection article:nth-child(8) section.background-image{
  background-image: url("../img/basketbal.png");
}
#sportsection article:nth-child(9) section.background-image{
  background-image: url("../img/rugby.png");
}
#sportsection article:nth-child(10) section.background-image{
  background-image: url("../img/hockey.png");
}
article.overviewArticle{
  height: 300px;
  width: 100%;
}
.overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  z-index: 1;
}
@media only screen and (max-width: 1535px) {
  .overview{
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 935px) {
  .mainHeader{
    display: block;
    height: 400px;
  }
  .mainHeader .left{
    width: 0;
    position: absolute;
  }
  .mainHeader .right{
    width: 100%;
  }
  .overviewArticle section h2{
    font-size: 40pt;
  }
}
@media only screen and (max-width: 650px) {
  .overview{
    grid-template-columns: 100%;
  }
  .overviewArticle section p{
    font-size: 18pt;
    line-height: 20pt; 
  }
}
@media only screen and (max-width: 470px) {
  header .right h1{
    font-size: 20pt;
  }
  .mainHeader{
    height: 250px;
  }
}