/*this stylesheet is only used in the index page*/
p{
  font-size: 15pt;
}
body{
  position: relative;
}
.mainHeader{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 625px;
}
.mainHeader .right{
  background-color: #f5f5f5;
}
.mainHeader .right h1{
  margin: 125px 5% 0 5%;
}
.mainHeader section{
  height: 100%;
}
.mainHeader .left{
  background-image: url("../img/boxer.png");
}
#mainsection section{
  display: grid;
  grid-template-columns: 50% 50%;
}
#mainsection section aside{
  background-color: #000000;
}
#mainsection section article{
  padding: 5%;
}
#mainsection section article footer{
  color: #aaaaaa;
  margin-top: 10px;
}
#mainsection section article h2{
  margin-bottom: 20px;
}
.overviewArticle{
  display: grid;
  grid-template-columns: 50% 50%;
}
.overviewArticle h2{
  font-size: 63pt;
  margin: 90px 5% 0 0;
  float: right;
  color: #ffffff;
  padding-bottom: 60px;
}
.overviewArticle p{
  margin: 50px 5% 0 5%;
}
.overviewArticle section:nth-child(1){
  background-color: #000000;
}
.overviewArticle section:nth-child(2){
  background-color: #ffffff;
}
.overviewArticle p{
  color: #aaaaaa;
}
.infoContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.overview{
  width: 100%;
  background-color: #000000;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.overview article{
  height: 400px;;
  color: #ffffff;
  position: relative;
  display: block;
}
.overview article h2{
  margin: 10px 0 0 4%;
  font-size: 40pt;
}
.overview article p{
  margin: 25px 0 0 5%;
  color:#ffffff;
}
.overview article section.background-image{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#sportsection article:nth-child(1) section.background-image{
  background-image: url("../img/boxer.png");
}
#sportsection article:nth-child(2) section.background-image{
  background-image: url("../img/wholesomeFighters.png");
}
#sportsection article:nth-child(3) section.background-image{
  background-image: url("../img/football.png");
}
#sportsection article:nth-child(4) section.background-image{
  background-image: url("../img/tennis.png");
}
#sportsection article:nth-child(5) section.background-image{
  background-image: url("../img/wingchun.png");
}
#sportsection article:nth-child(6) section.background-image{
  background-image: url("../img/volleybal.png");
}
#sportsection article:nth-child(7) section.background-image{
  background-image: url("../img/badminton.png");
}
#sportsection article:nth-child(8) section.background-image{
  background-image: url("../img/basketbal.png");
}
#sportsection article:nth-child(9) section.background-image{
  background-image: url("../img/rugby.png");
}
#sportsection article:nth-child(10) section.background-image{
  background-image: url("../img/hockey.png");
}
article.overviewArticle{
  width: 100%;
}
.overlay{
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  z-index: 1;
}
/*this stylesheet is only used in the haarlem page*/
.haarlemHeader{
  background-image: url("../img/haarlem.jpg");
}
.info header h2{
  margin: 115px 0 0 5%;
}
.info header p{
  margin-left: 5%;
}
.info{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  background-color: #f5f5f5;
}
.info article{
  height: 400px;
}
.jopenkerk article:nth-child(1){
  background-color: black;
}
.teylersmuseum article:nth-child(1){
  background-color: black;
}
.sintBavoKerk article:nth-child(1){
  background-color: black;
}
.responsiveImg{
  max-width: 100%;
}
.info h2, .info p{
  margin: 20px 0 0 5%;
}
.info p{
  color: #444444;
}
#referal article{
  padding: 5%;
}
#referal article footer{
  color: #aaaaaa;
  margin-top: 10px;
}
@media only screen and (max-width: 1480px) {
      .info{
      grid-template-columns: 100%;
      }
      .responsiveImg{
          height: 400px;
      }
      #mainsection section{
        grid-template-columns: 100%;
    }
  }
@media only screen and (max-width: 850px) {
header .right h1{
  font-size: 20pt;
}
h2{
  font-size: 30pt;
}
p{
  font-size: 15pt;
  line-height: 22pt;
}
}
@media only screen and (max-width: 850px) {
  .haarlemHeader{
      grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 1535px) {
  .overview{
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 935px) {
   h2{
    font-size: 40pt;
  }
  .mainHeader{
    grid-template-columns: 100%;
    background-color: #000000;
  }
  .overviewArticle{
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .overview{
    grid-template-columns: 100%;
  }
   p{
    font-size: 18pt;
    line-height: 20pt; 
  }
}
@media only screen and (max-width: 470px) {
  header .right h1{
    font-size: 20pt;
  }
  .mainHeader{
    height: 390px;
  }
}