p{
  font-size: 15pt;
  font-family: Arial;
}
body{
  position: relative;
}
article p{
  margin: auto;
  width: 80%;
  padding: 10px;
}
.mainHeader{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 625px;
}
.mainHeader .left{
  background-image: url("../img/boxer.jpg");
}
.mainHeader .right{
  background-color: #f5f5f5;
}
.mainHeader .right h1{
  margin: 20% 5% 0 5%;
}
.mainHeader section{
  height: 100%;
}
article{
  display: grid;
  grid-template-columns: 50% 50%;
}
.sportArticle{
  display: grid;
  grid-template-columns: 50% 50%;
}
.sportArticle section:nth-child(1){
  background-color: black;
}
.infoContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pageFooter{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}
.overview{
  width: 100%;
  height: 500px;
}